.box-window-background {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 9;
    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;
}

.box-window {
    background-color: var(--primary-background);
    border: var(--primary-dark) solid 3px;
    border-radius: 10px;
    transition: all ease-in 200ms;
    z-index: 10;
    animation: zoomIn ease 250ms;
    position: fixed;
    left: 50px;
    right: 50px;
    top: 50px;
    bottom: 50px;
    font-size: 20px;
    overflow-y: scroll;
    overflow-x: none;
}

.box-window-close {
    width: 40px;
    position: fixed;
    right: 60px;
    top: 60px;
    cursor: pointer;
}

.box-window-secondary {
    position: fixed;
    left: 60px;
    width: 40px;
    top: 60px;
    cursor: pointer;
}

.box-window-close:hover, .box-window-secondary:hover {
    transform: scale(1.1);
}

.box-window-animate-out {
    animation: zoomOut ease 250ms;
}
