.create-box-background {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 9;
    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;
}

.create-box {
    user-select: none;
    background-color: var(--primary-background);
    border: var(--primary-dark) solid 3px;
    border-radius: 10px;
    transition: all ease-in 200ms;
    z-index: 10;
    animation: zoomIn ease 250ms;
    position: absolute;
    left: 50px;
    right: 50px;
    top: 50px;
    bottom: 50px;
    font-size: 20px;
    overflow-y: scroll;
    overflow-x: none;
}

.create-box-animate-out {
    animation: zoomOut ease 250ms;
}

.create-box-url-loading-wheel {
    width: 40px;
}

.create-box input[type="text"] {
    border: var(--primary-bright) solid 2px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    text-align: left;
}

.create-box-close {
    width: 40px;
    position: fixed;
    right: 60px;
    top: 60px;
}

.create-box-close:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.create-box-supported-websites-button {
    font-size: 15px;
    text-decoration: underline;
    color: #505050;
    cursor: pointer;
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.create-box-supported-websites-list span {
    display: block;
    font-size: 15px;
    position: relative;
    right: 20px;
    margin: 5px 0;
    cursor: pointer;
}

.create-box-supported-websites-list span:hover {
    text-decoration: underline;
}

.create-box hr {
    border: #696d67 solid 1px;
    margin: 10px;
}

.create-box-image-select {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.create-box .create-box-image-select > button {
    font-size: 17px;
    padding: 8px;
    border-radius: 3px;
    margin: 0 10px;
}

.create-box .create-box-image-select span {
    margin-left: 10px;
}

.create-box-paste-image-url-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
}

.create-box .create-box-paste-image-url-wrapper input {
    display: inline-block;
    margin: 0 20px;
}

.create-box .create-box-paste-image-url-wrapper button {
    white-space: nowrap;
}

.create-box-url-input-wrapper {
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}

.create-box-url-input-wrapper * {
    margin: 10px;
}

.create-box button {
    background-color: var(--primary-bright);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.create-box button:hover {
    opacity: 0.7;
}

.create-box-url-error {
    color: red;
    font-size: 15px;
}

.create-box-image-error {
    color: red;
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
}

.create-box-image-wrapper {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.create-box-image {
    max-width: 100%;
    border: var(--primary-bright) 2px dotted;
    border-radius: 10px;
}

.create-box-image-loading-wheel {
    width: 40px;
    margin-right: 20px;
}

.create-box-image-delete-wrapper {
    position: relative;
    width: 0;
    cursor: pointer;
}

.create-box-image-delete-wrapper img {
    position: absolute;
    right: 0;
    transition: all ease 100ms;
}

.create-box-image-delete-wrapper img:hover {
    transform: scale(1.2);
    opacity: 0.9;
}


.create-box-input-grid {
    display: grid;
    grid-template-columns: 15% 80%;
}

.create-box-input-grid * {
    margin: 10px 5px;
}

.create-box-input-grid label {
    margin: auto;
}

.create-box-meal-wrapper {
    width: min(100%, 600px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.create-box-checkbox-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    flex-basis: 33.333333333%;
}

.create-box-checkbox-wrapper label {
    cursor: pointer;
}

.create-box-checkbox-wrapper input {
    margin-right: 0;
}

.create-box-ingredients-list {
    display: grid;
    padding: 0 0;
    grid-template-columns: 10% 85%;
}

.create-box-ingredients-list * {
    margin: 5px 0;
}

.create-box-ingredients-delete {
    max-width: 39px;
    cursor: pointer;
    transition: all ease 100ms;
    margin: auto;
}

.create-box-ingredients-delete img {
    width: 100%;
}

.create-box-ingredients-delete:hover {
    transform: scale(1.3);
    opacity: 0.9;
}

.create-box-add-ingredient {
    margin-bottom: 10px;
}

.create-box-instructions {
    resize: vertical;
    background-color: transparent;
    border-radius: 10px;
    border: var(--primary-bright) solid 2px;
    text-align: left;
    padding: 10px;
    width: 80%;
    height: 200px;
}