.grocery-list {
    padding-bottom: 20px;
}

.grocery-list label {
    text-align: left;
}

.grocery-list button {
    margin: 10px;
    font-size: 25px;
    background-color: var(--primary-bright);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.grocery-list button:hover {
    opacity: 0.7;
}

.grocery-list-add-input {
    border: var(--primary-bright) solid 2px;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    font-family: 'Work Sans', sans-serif;
}

.grocery-list-ingredient {
    padding: 7px;
    margin: 0 10%;
    text-align: left;
    width: 80%;
    display: flex;
    align-items: center;
}

.grocery-list-ingredient * {
    cursor: pointer;
}

.grocery-list-ingredient-delete img {
    display: none;
    position: absolute;
    bottom: -19px;
    width: 35px;
    animation: fadeIn ease 150ms;
}

.grocery-list-ingredient:hover img {
    display: block;
}

.grocery-list-ingredient-delete img:hover {
    transform: scale(1.1);
}

.grocery-list-ingredient-delete {
    position: relative;
}

.grocery-list-clear-button {
    background-color: var(--red) !important
}