.grocery-list-background {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 9;
    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;
}

.grocery-list {
    background-color: var(--primary-background);
    border: var(--primary-dark) solid 3px;
    border-radius: 10px;
    transition: all ease-in 200ms;
    z-index: 10;
    animation: zoomIn ease 250ms;
    position: fixed;
    left: 50px;
    right: 50px;
    top: 50px;
    bottom: 50px;
    font-size: 20px;
    overflow-y: scroll;
    overflow-x: none;
}

.grocery-list-add-input {
    border: var(--primary-bright) solid 2px;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    font-family: 'Work Sans', sans-serif;
}

.grocery-list-add-button {
    margin: 10px;
    font-size: 25px;
    background-color: var(--primary-bright);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.grocery-list-ingredient {
    padding: 7px;
    margin: 0 10%;
    text-align: left;
    width: 80%;
    display: flex;
    align-items: center;
}

.grocery-list-ingredient * {
    cursor: pointer;
}