.add-recipe-button {
    transition: all ease-out 100ms;
}

.add-recipe-button:hover {
    opacity: 0.7;
    transform: scale(1.1, 1.1);
}

.add-recipe-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.inline-add-circle-icon {
    width: 30px;
}

.mini-create-box {
    position: absolute;
    right: 10px;
    padding: 10px;
    line-height: 0;
    border-radius: 5px;
    background-color: var(--tint-of-green);
}

.mini-create-box-title {
    font-size: 20px;
}

.mini-create-box-url-input {
    margin: 10px 0;
    font-size: 15px;
}

.mini-create-box-error {
    color: red;
    display: block;
    margin: 10px;
    font-size: 15px;
}