.add-recipe-button {
    transition: all ease-out 100ms;
}

.add-recipe-button:hover {
    opacity: 0.7;
    transform: scale(1.1, 1.1);
}

.add-recipe-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.inline-add-circle-icon {
    width: 30px;
}

.mini-create-box {
    position: absolute;
    right: 10px;
    padding: 10px;
    line-height: 0;
    border-radius: 5px;
    background-color: var(--primary-background);
    border: var(--primary-bright) solid 2px;
    max-height: 200px;

    transition: all ease 100ms;
}

.mini-create-box.hidden {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    border: none;
}

.mini-create-box-title {
    font-size: 20px;
}

.mini-create-box-url-input {
    margin: 10px 0;
    font-size: 15px;
}

.mini-create-box-expand {
    display: block;
    position: absolute;
    padding: 0;
    top: -20px;
    left: -15px;
    transform: rotate(45deg);
    transition: all ease 100ms;
}

.mini-create-box-expand:hover {
    transform: scale(1.4, 1.4) rotate(45deg);
}

.mini-create-box-expand-wrapper {
    display: block;
    position: relative;
    margin: 10px 0;
}