.recipe-box-url {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.recipe-box-url span,
.recipe-box-url-anchor {
    text-align: left;
    margin: 15px;
    max-width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe-box-url-anchor {
    color: var(--secondary-dark)
}

.recipe-header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.recipe-box-image {
    max-width: 25vw;
    border-radius: 10px;
    border: var(--primary-dark) 2px solid;
    flex-basis: 60%;
}

.recipe-info-box {
    margin: 20px;
    border: 2px #9c9c9c solid;
    padding: 20px;
    border-radius: 10px;
}

.recipe-box-meals-wrapper {
    display: flex;
    justify-content: center;
    margin: 0;
}

.recipe-box-meals-wrapper * {
    font-size: 20px;
    font-weight: normal;
    margin: 0 10px;
}

.recipe-info-box > span {
    display: block;
    text-align: left;
    font-size: 25px;
}

.recipe-box hr {
    border: #696d67 solid 1px;
    margin: 10px auto;
    width: 50%;
}

.recipe-box-grocery-animation-wrapper {
    position: relative;
    left: -40px;
    bottom: 10px;
}

.recipe-box-grocery-animation {
    position: absolute;
    padding: 7px;
    width: fit-content;
    border-radius: 10px;
    display: inline-block;
    font-size: 25px;
    color: var(--primary-dark);
    animation: fadeOutUp ease 1000ms;
}

.recipe-box-add-grocery-list-all {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.recipe-box-add-grocery-list-all:hover {
    transform: scale(1.1);
}

.recipe-box-add-grocery-list-all img {
    width: 35px;
}

.recipe-box-add-grocery-list-all span {
    color: var(--primary-bright);
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
}

.recipe-box-ingredients-list {
    width: 60%;
    margin: 20px auto;
}

.recipe-box-ingredients-list > div {
    display: flex;
    margin: 20px 0;
    align-items: center;
}
    
.recipe-box-ingredients-list input {
    width: 25px;
    flex-shrink: 0;
}

.recipe-box-ingredients-list label {
    cursor: pointer;
    text-align: left;
    user-select: text;
}

.recipe-box-ingredients-list button {
    position: relative;
}

.recipe-box-ingredients-list img {
    position: absolute;
    bottom: -19px;
    width: 35px;
    display: none;
    animation: fadeIn ease 150ms;
}

.recipe-box-ingredients-list img:hover {
    transform: scale(1.1);
}

.recipe-box-ingredients-list div:hover img {
    display: block;
}

.recipe-box-ingredients-list button:active {
    transform: scale(0.9);
}

.recipe-box-ingredient-grocery-animation-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
}

.recipe-box-ingredient-grocery-animation {
    animation: fadeOutUp ease 1000ms;
    position: absolute;
    left: -20px;
    bottom: -5px;
}

.recipe-box-instructions {
    width: 90%;
    margin: 50px auto;
    text-align: left;
    user-select: text;
}

.recipe-box-instructions-none {
    display: block;
    margin: 0 auto;
}