:root {
    --background: #d1d1d1;
    --foreground: #000000;
    --primary-bright: #16c172;
    --primary-dark: #214f4bff;
    --primary-background: #dee4e1;
    --secondary-bright: #7ee8faff;
    --secondary-dark: #8884ffff;
    --red: #ff5252;
}

.App {
    display: flex;
    flex-direction: column;
    user-select: none;
}

.MainBody {
    flex-grow: 1;
}

/* General styling */

* {
    box-sizing: border-box;
    text-align: center;
    outline: none;
}

body, textarea {
    background-color: var(--background);
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

textarea {
    font-family: 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: var(--foreground);
}

a {
    text-decoration: none;
    color: inherit;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.center-image-in-text {
    display: flex;
    align-items: center;
}

.center-image-in-text img {
    margin: 0 5px;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

input, select {
    border: none;
    background-color: transparent;
}

select {
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    display: inline-block;
    transform: scale(0.7);
    border: var(--primary-bright) 2px solid;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    width: 25px;
    height: 25px;
}

input[type="checkbox"]:checked {
    background-color: var(--primary-bright);
}

input[type="checkbox"]:checked::after {
    content: "✓";
    position: absolute;
    bottom: -5px;
    right: -2px;
    color: var(--primary-dark);
    text-align: center;
    font-size: 30px;
}

.disabled-input {
    filter: grayscale(100%);
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-bright);
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background: #64d4a0;
}

/* Specific styling */

.clear-all-button {
    color: var(--red);
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
}

.clear-all-button:hover {
    background-color: #c4c4c4;
}

.clear-all-prompt-background {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.clear-all-prompt h3 {
    color: var(--red)
}

.clear-all-prompt {
    position: fixed;
    top: 35%;
    left: 0;
    right: 0;
    background-color: var(--primary-background);
    z-index: 1;
    border: 2px var(--primary-bright) solid;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    border-radius: 10px;
    animation: zoomIn 200ms ease;
}

.clear-prompt-cancel-button {
    background-color: var(--primary-bright);
    color: white;
    border-radius: 5px;
    font-size: 15px;
}

.clear-prompt-confirm-button {
    background-color: var(--red);
    color: white;
    border-radius: 5px;
    font-size: 15px;
}

.clear-all-prompt button {
    margin: 0 30px;
    padding: 10px 20px;
}

.clear-all-prompt button:hover {
    opacity: 0.7;
}

.add-recipe-button {
    transition: all ease-out 100ms;
}

.add-recipe-button:hover {
    opacity: 0.7;
    transform: scale(1.1, 1.1);
}

.header-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.header-buttons-wrapper > * {
    flex: 1 1 0;
}

.filter-button-wrapper {
    display: flex;
}

.grocery-list-button-wrapper {
    display: flex;
    justify-content: center;
}

.recipe-manage-buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.inline-add-circle-icon {
    width: 30px;
}

.mini-create-box {
    position: absolute;
    right: 10px;
    padding: 10px;
    line-height: 0;
    border-radius: 5px;
    background-color: var(--primary-background);
    border: var(--primary-bright) solid 2px;
    max-height: 200px;
    z-index: 1;

    transition: all ease 100ms;
}

.mini-create-box.hidden {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    border: none;
}

.mini-create-box-title {
    font-size: 20px;
}

.mini-create-box-url-input {
    margin: 10px 0;
    font-size: 15px;
}

.mini-create-box-expand {
    display: block;
    position: absolute;
    padding: 0;
    top: -20px;
    left: -15px;
    transform: rotate(45deg);
    transition: all ease 100ms;
}

.mini-create-box-expand:hover {
    transform: scale(1.4, 1.4) rotate(45deg);
}

.mini-create-box-expand-wrapper {
    display: block;
    position: relative;
    margin: 10px 0;
}

.body-page-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.body-page-wrapper button {
    transition: all ease 100ms;
}

.body-page-wrapper button:hover {
    transform: scale(1.2);
}

.recipe-no-results {
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.recipe-preview-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.recipe-preview {
    background-color: var(--primary-background);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: all ease 150ms;
    border: 2px var(--primary-dark) solid;
}

.recipe-preview:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

.recipe-preview-image-wrapper img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.recipe-preview h2 {
    margin: 0 auto;
    display: block;
    width: 250px;
    padding: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 17px;
}

/* Fonts */

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/WorkSans-VariableFont_wght.ttf');
}