:root {
    --deep-jungle-green: #214f4bff;
    --emerald: #16c172ff;
    --tint-of-green: #dee4e1;
    --medium-slate-blue: #8884ffff;
    --sky-blue-crayola: #7ee8faff;
}

.App {
    display: flex;
    flex-direction: column;
}

.MainBody {
    flex-grow: 1;
}

/* General styling */

* {
  box-sizing: border-box;
  text-align: center;
  outline: none;
}

body {
    background-color: var(--deep-jungle-green);
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: var(--emerald);
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.center-image-in-text {
    display: flex;
    align-items: center;
}

.center-image-in-text img {
    margin: 0 5px;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

input {
    border: none;
    background-color: transparent;
}

/* Fonts */

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/WorkSans-VariableFont_wght.ttf');
}